@import "./colors.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-family: "Playfair Display", serif;
  color: $green;
  margin: 50px 0px;
  font-size: xx-large;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-img {
  width: 50%;
  height: auto;
}

.about-text-container {
  background-color: $green;
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: x-large;
  font-style: italic;
}

.about-text {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: larger;
  font-style: italic;
}

.separator {
  width: 15%;
  margin: 50px auto;
  border: 1px solid $green;
}

@media (max-width: 1250px) {
  .title-text {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: large;
    font-style: italic;
  }

  .about-text {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: medium;
    font-style: italic;
  }
}

@media (max-width: 900px) {
  .about-img {
    display: none;
  }

  .about-text-container {
    background-color: $rose;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-text {
    color: $green;
    font-family: "Playfair Display", serif;
    font-size: large;
    font-style: italic;
  }

  .about-text {
    color: $green;
    font-family: "Playfair Display", serif;
    font-size: medium;
    font-style: italic;
  }
}