@import "./colors.scss";

.blog-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.le-blog {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: $green;
    margin-bottom: 50px;
}

.blog-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blog-summary {
    height: auto;
    display: flex;
    flex-direction: column;
    color: $green;
    background-color: #e1e6df;
    border: 1px solid $green;
    border-radius: 25px 0 25px 0;
    font-family: 'Playfair Display', serif;
    max-width: 10%;
    padding: 20px;
}

.blog-article {
    height: auto;
    display: flex;
    max-width: 60%;

    .blog-text {
        max-width: 70%;
    }

    .blog-art-title,
    .article-paragraph {
        color: $green;
        font-family: 'Playfair Display', serif;

    }
}

.blog-art-img {
    width: 30%;
    height: auto;
    object-fit: contain;
}

.blog-art-title {
    margin-bottom: 50px;
    font-style: italic;
}

.article-paragraph {
    margin: 0 30px;
}