.header-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

    .header-left-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        .navbar-blog {
            margin-left: 20px;
        }
    }

}


@media (max-width:1200px) {
    .header-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}

@media (max-width:500px) {
    .header-logo img {
        width: 130px;
        height: auto;
    }
}

// @media (max-width:350px) {
//     .header-logo {
//         width: 100px;
//         height: auto;
//     }

//     .header-container {
//         height: auto;
//         width: 100%;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//         padding: 20px 5px;
//     }
// }