@import "./colors.scss";
.my-infos-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
}
.my-infos-form-columns {
  display: flex;
  flex-direction: row;
}
.my-infos-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px 0 50px;
}
.my-infos-gender {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  //   margin-top: 15px;
  //   margin-bottom: 15px;
}
.my-infos-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px 0 5px 0;
  input {
    outline: none;
    border: 1px solid gray;
  }
  label {
    margin-right: 30px;
  }
}
.my-infos-form-btn {
  background-color: $rose;
  border: none;
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px 2px gray;
  margin-top: 10px;
}
.my-infos-newsletter-checkbox {
  display: flex;
  flex-direction: row;
  label {
    margin-right: 10px;
  }
}
