@import "./colors.scss";

h1 {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.product-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10%;

    .product-picture {
        width: 35%;

        .product-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    .product-description {
        width: 50%;

        .product-title,
        .product-params,
        .product-text,
        .product-adding {
            color: $green;
            font-family: 'Playfair Display', serif;
        }

        .product-params {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 40px 0;

            .plant-needs,
            .plant-level {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin: 0 10px;
                }

                img {
                    margin: 0 10px;
                }
            }
        }

        .product-adding,
        .qty-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: baseline;
        }

        .product-qty-btn,
        .product-qty {
            text-align: center;
            margin: 0 10px;
            color: $green;
            font-weight: bold;
            background-color: white;
            border: 1px solid $green;
            width: 40px;
            height: 40px;
            border-radius: 15px;
        }

        .adding-btn {
            border: none;
            height: auto;

            cursor: pointer;
            margin: 0 15px;
            background-color: transparent;

            &.animate {
                animation: shopifyshake 2s;
            }
        }

        .price-div {
            display: flex;
            flex-direction: row;
            align-items: center;

            .price-placeholder,
            .product-price {
                margin: 0 5px;
            }
        }

    }


}


@keyframes shopifyshake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    1% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    2% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    3% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    4% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    5% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    6% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    7% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    8% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    80% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    90% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}




@media (max-width:1023px) {


    .product-page {
        flex-direction: column;
        place-items: center;
        padding: 0;
        width: 70%;
        margin: auto;

        .product-picture {
            width: 80%;
            margin-top: 40px;
        }

        .product-description {
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            place-items: center;

            .product-params {
                flex-direction: column;

                .plant-needs,
                .plant-level {
                    margin-bottom: 20px;
                }

            }

            .product-text {
                width: 100%;
            }

            .product-adding {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .qty-buttons {
                    align-items: center;
                    margin: 20px 0 20px 0;
                }

                .product-quantity {
                    display: none;
                }

                .adding-btn {
                    margin: 20px 0 20px 0;
                }
            }
        }







    }
}